{% load static %}
<!DOCTYPE html>
<html style="font-size: 16px;" lang="fr">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>client</title>
    <link rel="stylesheet" href="{% static 'metasouk/css/site.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'metasouk/css/client.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'metasouk/css/admin.css' %}" media="screen">
    <script class="u-script" type="text/javascript" src="{% static 'metasouk/js/jquery.js' %}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static 'metasouk/js/site.js' %}" defer=""></script>
    <meta name="referrer" content="origin">
    <link id="u-theme-google-font" rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700|Alata:400">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
</head>

<body data-path-to-root="./" data-include-products="true" class="u-body u-xl-mode" data-lang="fr">
    {% include "metasouk/includes/header.html" %}

    <div class="container">
        <div class="left-side">
            <h3>My Information</h3>
            <form method="POST" id="modification-form">
                {% csrf_token %}
                <input type="hidden" name="action" value="update_admin">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="username"
                    value="{{ utilisateur.username }}">

                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Email" value="{{ utilisateur.email }}">

                <label for="age">Age</label>
                <input type="number" id="age" name="age" placeholder="Entrez votre âge" value="{{ utilisateur.age }}">

                <label for="status">Status:</label>
                <input type="text" id="status" name="status" value="{{ utilisateur.statut }}" readonly>

                <button type="button" class="button">Modify Information</button>
            </form>

            <div class="action-buttons">
                <hr class="separator">
                <button class="button" onclick="showSection('List product')">List Product</button>
                <hr class="separator">
                <button class="button" onclick="showSection('Customer order')">Customer Order</button>
                <hr class="separator">
                <button class="button" onclick="showSection('user-list-section')">User List</button>
                <hr class="separator">
                <button class="button" onclick="showSection('request-seller-table')">Request to Become a
                    Seller</button>
                <hr class="separator">
                <a href="{% url 'logout' %}"><button class="button back">← SIGN OUT</button></a>
            </div>
        </div>

        <!-- Product List Section -->
        <div id="List product" class="section" style="display: none;">
            <h4>Product Management</h4>
            <button onclick="toggleProductForm()">Add Product</button>
            <button onclick="toggleProductDashboard()">Product Dashboard</button>
            <button onclick="toggleSellerProductDashboard()">Seller's Product Dashboardd</button>

            <div id="product-form" style="display: none;">
                <h4>Add a Product</h4>
                <form method="POST" enctype="multipart/form-data" class="add-product-form">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="add_product">
                    <input type="file" name="image" accept="image/*" required>
                    <input type="text" name="nom" placeholder="Name" required>
                    <input type="text" name="description" placeholder="Description" required>
                    <input type="number" name="prix" placeholder="Price" required>
                    <input type="text" name="type" placeholder="type" required>
                    <select name="categorie" required>
                        <option value="gaming">Gaming</option>
                        <option value="musicale">Musicale</option>
                        <option value="artistique">Artistique</option>
                    </select>
                    <select name="certification" required>
                        <option value="">Certified</option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select>
                    <button type="submit" class="submit-button">Add</button>
                </form>

            </div>

            <div id="product-dashboard" style="display: none;">
                <h4>Product Table</h4>
                <table>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Actions</th>
                    </tr>
                    {% for produit in produits_admin %}
                    <tr>
                        <td>{% if produit.image %}
                            <img src="{{ produit.image.url }}" alt="Image de {{ produit.nom }}" width="50">
                            {% else %}
                            <img src="/media/nft_images/default.jpg" alt="Image par défaut" width="50">
                            {% endif %}
                        </td>
                        <td>{{ produit.nom }}</td>
                        <td>{{ produit.prix }}€</td>
                        <td>
                            <!-- Edit and Delete buttons -->
                            <button class="btn-edit"
                                onclick="openEditModal('{{ produit.id }}', '{{ produit.nom }}', '{{ produit.description }}', {{ produit.prix }}, '{{ produit.categorie }}', '{{ produit.type }}', '{{ produit.certification }}')">Edit</button>
                            <button class="btn-delete"
                                onclick="window.location.href='{% url 'delete_product' produit.id %}'">Delete</button>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4">Aucun produit trouvé.</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <!-- editer product -->
            <div id="modaleModifierProduit" class="modal" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Edit Product</h5>
                            <button type="button" class="btn-close" onclick="closeModal()">×</button>
                        </div>
                        <div class="modal-body">
                            <form method="post" accept="{% url 'edit_product' %}">
                                {% csrf_token %}
                                <input type="hidden" id="produitId" name="produit_id">

                                <div class="mb-3">
                                    <label for="imageProduit" class="form-label">Image</label>
                                    <input type="file" class="form-control" id="imageProduit" name="image"
                                        accept="image/*">
                                </div>

                                <div class="mb-3">
                                    <label for="nomProduit" class="form-label">Name</label>
                                    <input type="text" class="form-control" id="nomProduit" name="nom" required>
                                </div>

                                <div class="mb-3">
                                    <label for="descriptionProduit" class="form-label">Description</label>
                                    <input type="text" class="form-control" id="descriptionProduit" name="description"
                                        required>
                                </div>

                                <div class="mb-3">
                                    <label for="prixProduit" class="form-label">Price</label>
                                    <input type="number" class="form-control" id="prixProduit" name="prix" required>
                                </div>

                                <div class="mb-3">
                                    <label for="typeProduit" class="form-label">Type</label>
                                    <input type="text" class="form-control" id="typeProduit" name="type" required>
                                </div>

                                <div class="mb-3">
                                    <label for="categorieProduit" class="form-label">Catégorie</label>
                                    <select class="form-select" id="categorieProduit" name="categorie" required>
                                        <option value="gaming">Gaming</option>
                                        <option value="musicale">Musicale</option>
                                        <option value="artistique">Artistique</option>
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label for="certificationProduit" class="form-label">Certification</label>
                                    <select class="form-select" id="certificationProduit" name="certification" required>
                                        <option value="yes">Yes</option>
                                        <option value="no">No</option>
                                    </select>
                                </div>

                                <button type="submit" class="btn btn-primary">Edit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--list product vendeur-->
            <div id="Sellerproduct-dashboard" style="display: none;">
                <h4>Seller's Product Table</h4>
                <table>
                    <tr>
                        <th>Seller's name</th>
                        <th>Image</th>
                        <th>name</th>
                        <th>Price</th>
                    </tr>
                    {% for produit in produits_vendeurs %}
                    <tr>
                        <td>{{ produit.proprietaire.username }}</td> <!-- Affichage du nom du vendeur -->
                        <td><img src="{{ produit.image.url }}" alt="Image de {{ produit.nom }}" width="50"></td>
                        <td>{{ produit.nom }}</td>
                        <td>€{{ produit.prix }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>


        <!-- Customer Order Section -->
        <div id="Customer order" class="section" style="display: none;">
            <h4>Customer Orders</h4>
            <table border="1">
                <tr>
                    <th>Product Name</th>
                    <th>Client Name</th>
                    <th>Order ID</th>
                    <th>Total Amount (€)</th>
                    <th>Satut</th>
                </tr>
                {% for commande in commandes %}
                {% for article in commande.articlecommande_set.all %}
                <tr>
                    <td>{{ article.produit.nom }}</td>
                    <td>{{ commande.utilisateur.nom }} {{ commande.utilisateur.prenom }}</td>
                    <td>{{ commande.id }}</td>
                    <td>{{ commande.montant_total }}</td>
                    <td>{{ commande.statut|title }}</td>
                </tr>
                {% endfor %}
                {% empty %}
                <tr>
                    <td colspan="5">Aucune commande trouvée.</td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <!-- Section User List -->
        <div id="user-list-section" class="section" style="display: none;">
            <h4>User List</h4>
            <button onclick="showUserTable('client')">Customer List</button>
            <button onclick="showUserTable('seller')">Seller List</button>

            <!-- Tableau Client -->
            <div id="client-table" style="display: none;">
                <h4>Client List</h4>
                <table>
                    <tr>
                        <th>Username</th>
                        <th>Fisrt Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                    </tr>
                    {% for client in clients %}
                    <tr>
                        <td>{{ client.username }}</td>
                        <td>{{ client.prenom }}</td>
                        <td>{{ client.nom }}</td>
                        <td>{{ client.email }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <!-- Tableau Seller -->
            <div id="seller-table" style="display: none;">
                <h4>Seller List</h4>
                <table>
                    <tr>
                        <th>Username</th>
                        <th>Fisrt Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                    </tr>
                    {% for vendeur in vendeurs %}
                    <tr>
                        <td>{{ vendeur.username }}</td>
                        <td>{{ vendeur.prenom }}</td>
                        <td>{{ vendeur.nom }}</td>
                        <td>{{ vendeur.email }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>


        <div id="request-seller-table" class="section" style="display: none;">
            <h4>Request to Become a Seller</h4>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in clients_demandant_vente %}
                    <tr>
                        <td>{{ user.nom }} {{ user.prenom }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <a href="{% url 'accepter_demande' user.id %}" style="color: green;">Accepter</a> |
                            <a href="{% url 'refuser_demande' user.id %}" style="color: red;">Refuser</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3">No pending requests.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <script>
        function openEditModal(id, name, description, price, type, category, certification) {
            document.getElementById("produitId").value = id;
            document.getElementById("nomProduit").value = name;
            document.getElementById("descriptionProduit").value = description;
            document.getElementById("prixProduit").value = price;
            document.getElementById("typeProduit").value = type;
            document.getElementById("categorieProduit").value = category;
            document.getElementById("certificationProduit").value = certification;

            document.getElementById("modaleModifierProduit").style.display = "block";
        }

        function closeModal() {
            document.getElementById("modaleModifierProduit").style.display = "none";
        }

        function showSection(id) {
            document.querySelectorAll('.section').forEach(section => {
                section.style.display = 'none';
            });

            document.getElementById(id).style.display = 'block';

            // Reset sous-sections si on affiche User List
            if (id === "user-list-section") {
                document.getElementById("client-table").style.display = "none";
                document.getElementById("seller-table").style.display = "none";
            }
        }


        function toggleProductForm() {
            const form = document.getElementById('product-form');
            form.style.display = form.style.display === 'none' ? 'block' : 'none';
        }

        function toggleProductDashboard() {
            const dashboard = document.getElementById('product-dashboard');
            dashboard.style.display = dashboard.style.display === 'none' ? 'block' : 'none';
        }

        function toggleSellerProductDashboard() {
            const dashboard = document.getElementById('Sellerproduct-dashboard');
            dashboard.style.display = dashboard.style.display === 'none' ? 'block' : 'none';
        }

        function showUserTable(type) {
            if (type === 'client') {
                document.getElementById("client-table").style.display = "block";
                document.getElementById("seller-table").style.display = "none";
            } else if (type === 'seller') {
                document.getElementById("client-table").style.display = "none";
                document.getElementById("seller-table").style.display = "block";
            }
        }
        function acceptRequest() {
            alert("Request Accepted!");
        }

        function rejectRequest() {
            alert("Request Rejected!");
        }
    </script>

    {% include "metasouk/includes/footer.html" %}
</body>

</html>