{% load static %}
<!DOCTYPE html>
<html style="font-size: 16px;" lang="fr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <title>signup</title>
  <link rel="stylesheet" href="{% static 'metasouk/css/site.css' %}" media="screen">
  <link rel="stylesheet" href="{% static 'metasouk/css/signup.css' %}" media="screen">
  <script class="u-script" type="text/javascript" src="{% static 'metasouk/js/jquery.js' %}" defer=""></script>
  <meta name="referrer" content="origin">
  <link id="u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
  <link id="u-page-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Alata:400">
</head>

<body data-path-to-root="./" class="u-body u-xl-mode" data-lang="fr">
  {% include "metasouk/includes/header.html" %}

  <section class="u-clearfix u-grey-75 u-section-1" id="block-1">
    <div class="u-clearfix u-sheet u-valign-middle-md u-valign-middle-sm u-sheet-1">
      <div class="custom-expanded u-list u-list-1">
        <div class="u-repeater u-repeater-1">
          <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item"
            data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0"
            data-animation-direction="X">
            <div class="u-container-layout u-similar-container u-container-layout-1">
              <h3 class="u-align-center u-text u-text-custom-color-3 u-text-default u-text-1"
                data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">{{ client_count }}</h3>
              <p class="u-align-center u-text u-text-2">new client </p>
            </div>
          </div>
          <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item"
            data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0"
            data-animation-direction="X">
            <div class="u-container-layout u-similar-container u-container-layout-2">
              <h3 class="u-align-center u-text u-text-custom-color-3 u-text-default u-text-3"
                data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">{{ product_count }}</h3>
              <p class="u-align-center u-text u-text-default u-text-4">product</p>
            </div>
          </div>
          <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item"
            data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0"
            data-animation-direction="X">
            <div class="u-container-layout u-similar-container u-container-layout-3">
              <h3 class="u-align-center u-text u-text-custom-color-3 u-text-default u-text-5"
                data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">{{ vendeur_count }}</h3>
              <p class="u-align-center u-text u-text-default u-text-6">new seller</p>
            </div>
          </div>
        </div>
      </div>
      <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-size-31-sm u-size-31-xs u-size-32-lg u-size-32-xl u-size-60-md">
              <div class="u-layout-col">
                <div class="u-container-style u-layout-cell u-size-60 u-layout-cell-1">
                  <div class="u-container-layout u-container-layout-4">
                    <h3 class="u-custom-font u-font-oswald u-text u-text-default u-text-7" data-animation-name="flipIn"
                      data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">Good to have
                      you on the team</h3>
                    <img
                      class="u-hover-feature u-image u-image-contain u-image-round u-preserve-proportions u-radius u-image-1"
                      src="{% static 'metasouk/images/SK__1_-removebg-preview.png' %}" alt="" data-image-width="500"
                      data-image-height="500">
                    <h4 class="u-text u-text-default u-text-8">Sign up</h4>
                    <div
                      class="u-border-3 u-border-custom-color-3 u-line u-line-horizontal u-opacity u-opacity-25 u-line-1">
                    </div>
                    <div class="custom-expanded u-border-2 u-border-grey-75 u-form u-form-1" id="carousel-d116">
                      <form action="" method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form"
                        source="email" name="form" style="padding: 10px;">
                        {% csrf_token %}
                        <div class="u-form-group u-form-name u-form-partition-factor-2 u-label-top u-form-group-1">
                          <label for="first-name-eb11" class="u-label u-label-1">First name</label>
                          <input type="text" placeholder="Enter your first name" id="first-name-eb11" name="name-1"
                            class="u-border-none u-custom-font u-font-montserrat u-input u-input-rectangle u-radius u-text-grey-90 u-input-1"
                            required="">
                        </div>
                        <div class="u-form-group u-form-name u-form-partition-factor-2 u-label-top u-form-group-2">
                          <label for="last-name-eb11" class="u-label u-label-2">Last name</label>
                          <input type="text" placeholder="Enter your last name" id="last-name-eb11" name="name-2"
                            class="u-border-none u-custom-font u-font-montserrat u-input u-input-rectangle u-radius u-text-grey-90 u-input-2"
                            required="">
                        </div>
                        <div class="u-form-email u-form-group u-label-top">
                          <label for="email-eb28" class="u-label u-label-3">Email</label>
                          <input type="email" placeholder="Enter a valid email address" id="email-eb28" name="email"
                            class="u-border-none u-custom-font u-font-montserrat u-input u-input-rectangle u-radius u-text-grey-90 u-input-3"
                            required="">
                        </div>
                        <div class="u-form-date u-form-group u-label-top u-form-group-5">
                          <label for="date-19ef" class="u-label u-label-5">Username </label>
                          <input type="text" placeholder="Username" id="date-19ef" name="username"
                            class="u-border-none u-custom-font u-font-montserrat u-input u-input-rectangle u-radius u-text-grey-90 u-input-5"
                            required="">
                        </div>
                        <div class="u-form-group u-label-top u-form-group-6">
                          <label for="text-d357" class="u-label u-label-6">Your Age</label>
                          <input type="text" placeholder="" id="text-d357" name="text"
                            class="u-border-none u-custom-font u-font-montserrat u-input u-input-rectangle u-radius u-text-grey-90 u-input-6">
                        </div>
                        <div class="u-form-group u-label-top u-form-group-7">
                          <label for="text-1401" class="u-label u-label-7">Password</label>
                          <input type="password" placeholder="....................." id="text-1401" name="text-1"
                            class="u-border-none u-custom-font u-font-montserrat u-input u-input-rectangle u-radius u-text-grey-90 u-input-7">
                        </div>
                        <div class="u-form-agree u-form-group u-label-top u-form-group-8">
                          <label class="u-block-5993-95 u-field-label"
                            style="letter-spacing: 4px; font-weight: 700"></label>
                          <input type="checkbox" id="agree-8c75" name="agree" class="u-agree-checkbox u-field-input"
                            required="">
                          <label for="agree-8c75" class="u-agree-label u-field-label">I accept the terms of use</label>
                        </div>
                        <button type="submit"
                          class="u-btn u-btn-round u-btn-submit u-button-style u-custom-color-3 u-radius u-btn-2" style="width: 500px;">
                          Sign up
                        </button>
                      </form> 
                    </div>

                    <div
                      class="u-border-3 u-border-custom-color-3 u-line u-line-horizontal u-opacity u-opacity-25 u-line-2">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-size-28-lg u-size-28-xl u-size-29-sm u-size-29-xs u-size-60-md">
              <div class="u-layout-col">
                <div class="u-size-30">
                  <div class="u-layout-row">
                    <div class="u-container-style u-layout-cell u-size-60 u-layout-cell-2">
                      <div class="u-container-layout u-valign-middle u-container-layout-5">
                        <img class="u-expanded-width u-image u-image-contain u-image-default u-image-2"
                          src="{% static 'metasouk/images/Flyer_Services_cabinet_de_gestion_de_patrimoine_photo_professionnel_bleu_blanc_et_rouge__1_-removebg-preview.png' %}"
                          alt="" data-image-width="420" data-image-height="594">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="u-size-30">
                  <div class="u-layout-row">
                    <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-3">
                      <div class="u-container-layout u-container-layout-6"></div>
                    </div>
                    <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-4">
                      <div class="u-container-layout u-container-layout-7"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

  {% include "metasouk/includes/footer.html" %}

</body>

</html>